{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <title>Whitesquare</title>
</head>
<body>

<ul class="top">
    <li class="textbody">ПРИВЕТ</li>
    <li class="textbody">ПРИВЕТ</li>
</ul>
<div id="wrapper">
		<header>
            <a href="/"><img src="https://habrastorage.org/r/w780/getpro/habr/post_images/ad1/e15/d92/ad1e15d92086ee83c396cb458509df2d.png" alt="Whitesquare logo"></a>
            <form name="search" action="#" method="get">
	<input type="text" name="q" placeholder="Search"><button type="submit">GO</button>
</form>
        </header>
		<nav>
            <ul class="top-menu">
                <li><a href="/home/">HOME</a></li>
                <li class="active">ABOUT US</li>
                <li><a href="/services/">SERVICES</a></li>
                <li><a href="/partners/">PARTNERS</a></li>
                <li><a href="/customers/">CUSTOMERS</a></li>
                <li><a href="/projects/">PROJECTS</a></li>
                <li><a href="/careers/">CAREERS</a></li>
                <li><a href="/contact/">CONTACT</a></li>
	        </ul>
        </nav>
		<div id="heading"></div>
		<aside></aside>
		<section></section>
	</div>
	<footer></footer>



</body>
</html>